body{
  padding-top:60px;
}

.container{
  margin:0 auto;
  max-width:960px;
}

.counter{
  width:30px;
  display:inline-block;
  text-align:center;
  position: relative;
  cursor: default;

  .up{
    position: absolute;
    top:-15px;
    left:0;
    height:15px;
    width:30px;
    text-align: center;
    cursor:pointer;
  }

  .down{
    position: absolute;
    bottom:-15px;
    left:0;
    height:15px;
    width:30px;
    text-align: center;
    cursor:pointer;
  }
}

.toggle{
  display:inline-block;
  text-align:center;
  position: relative;
  cursor: default;

  .on{
    position: absolute;
    top:-15px;
    left:0;
    height:15px;
    width:100%;
    text-align: center;
    cursor:pointer;
  }

  .off{
    position: absolute;
    bottom:-15px;
    left:0;
    height:15px;
    width:100%;
    text-align: center;
    cursor:pointer;
  }
}


.icon-blue,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url(/assets/glyphicons-halflings-blue.png);
}

textarea{
  width:100%;
  box-sizing:border-box;
}