$sexy-green: #89bb00;
$sexy-green-light: #99d100;
$sexy-gray: #333b3d;

// Tobpar
$topbar-bg: $sexy-gray;
$topbar-margin-bottom: 0;

@import "foundation";


.application-wrapper div.content:last-of-type{
  background:red;
}

// Topbar styles
.top-bar .title-area li h1{
  text-transform: uppercase;
  font-size: 12px;
}

.top-bar .top-bar-section ul li a{
  text-transform: uppercase;
  font-size: 12px;
}

// Hero Styles

.hero{
  float:left;
  clear:both;
  width:100%;
  background: $sexy-green;
  color:white;
  padding:30px 0;
}

.content{
  float:left;
  padding:30px 0;
  clear:both;
  width:100%;
}

//Structural Styles

.center-contents{
  text-align:center;

  *{
    margin:0 auto;
    text-align: left;
  }
}

//Button Styles

.button-dark{
  @include button-base;
  @include button-size;
  @include button-style($sexy-gray, false);
  border:0 none;
}

.button-light{
  @include button-base;
  @include button-size;
  @include button-style($sexy-green-light, false);
  border:0 none;
}

// Type Styles

.white{
  color:white;
}


// Home Page Styles

.home-page-hero{
  padding:60px 0 40px 0;

  .call-to-action{
    padding:30px 0 0 0;

    .or{
      padding:0 15px;
    }
  }
}

// Convo Box Widget

.convobox{
  cursor:pointer;

  &:hover{
    background:darken(#fff, 3%);
  }
}

// New Conversation Form

  // Participants

  .participants{
    .participant, .add-participant{
      cursor:pointer;

      &:hover{
        background:darken(#fff, 3%);
      }
    }

    .participant{
      .avatar{
        width:48px;
        height:48px;
        border:$sexy-gray;
        margin-bottom:15px;
      }
    }
  }
