.container
  .row-fluid
    .span6.well
      .memeHolder
        %span.memeText.memeTextTop
          {{topText}}
        %iframe(src="{{vineUrl}}" width="300px" height="300px" frameborder="0")
        %span.memeText.memeTextBottom
          {{bottomText}}
    .span6.well
      %form.form-horizontal
        .control-group
          %label.control-label
            Vine Url
          .controls
            %input(type="text" ng-model="vineUrl")
        .control-group
          %label.control-label
            Top Text:
          .controls
            %input(type="text" ng-model="topText")
        .control-group
          %label.control-label
            Bottom Texts
          .controls
            %input(type="text" ng-model="bottomText")