.row-fluid
  .span12.card
    .row-fluid
      %h1
        This was a conversation between 
        %span.counter(counter max="5" min="2")
        people
    .row-fluid
      %h1
        I 
        %span.toggle(toggle on="was" off="wasn't")
        one of them
.row-fluid
  .span12.card
    .row-fluid
      %h1 Let me tell you what went down between...
    .row-fluid(ng-hide="meIncluded")
      %table
        %tr(ng-repeat="n in [] | range:participants")
          %td 
            %img(src="http://avatars.io/twitter/{{someone[index]}}")
          %td Someone
          %td 
            %input(ng-model="someone[index]" placeholder="@twitter")
    .row-fluid(ng-show="meIncluded")
      %table
        %tr
          %td
            %img(src="http://avatars.io/twitter/{{me}}")
          %td Me
          %td
            %input(ng-model="me" placeholder="@twitter")
            and
        %tr(ng-repeat="n in [] | range:(participants-1)")
          %td 
            %img(src="http://avatars.io/twitter/{{someone[index]}}")
          %td Someone
          %td 
            %input(ng-model="someone[index]" placeholder="@twitter")
.row-fluid
  .span12.card
    .row-fluid
      %h1 It went a little something like this...
    .row-fluid
      \....